ClienteAlumno/Service References/ReferenciaServicioAlumnoWCF/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="nuevoAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="instalacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="edad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nuevoAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nuevoAlumnoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="instalacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAlumnoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAlumnos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAlumnosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllAlumnosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="instalacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="edad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setAlumnoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="instalacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteAlumnoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>